.keyboard {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    margin: 5px;
    justify-content: center;

    .wrapper{
        display: grid;
        grid-template-columns: repeat(14,minmax(50px,50px));
        grid-gap: 2px;
        grid-template-rows: repeat(4,minmax(50px,50px));

        .space_key{
            grid-column: 1/-1;
            height: 50px;

        }
    
    }
   

}